/*
/.**
!/.gitignore

# shell
!/.bash_profile
!/.bash_aliases
!/.inputrc

# vim editor settings
!/.vimrc

# husky
!/.huskyrc

# add files (whitelist)
!/.config/
!/.config/asdf/
!/.config/asdf/plugins
!/.config/git/
!/.config/git/ignore
!/.config/dependencies
!/.config/dependencies/dependencies.txt
!/.config/dependencies/*.sh
