/*
/.**
!/.gitignore

# shell
!/.bash_profile
!/.bash_aliases
!/.inputrc

# vim editor settings
!/.vimrc

# husky
!/.huskyrc

# default git config
!/.config/
!/.config/asdf/
!/.config/asdf/plugins
!/.config/git/
!/.config/git/ignore
!/.config/dependencies
